.light {
  --md-sys-color-primary: rgb(65 104 52);
  --md-sys-color-surface-tint: rgb(65 104 52);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(194 239 174);
  --md-sys-color-on-primary-container: rgb(3 33 0);
  --md-sys-color-secondary: rgb(84 98 77);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(216 231 204);
  --md-sys-color-on-secondary-container: rgb(18 31 14);
  --md-sys-color-tertiary: rgb(3 103 126);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(181 235 255);
  --md-sys-color-on-tertiary-container: rgb(0 31 40);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(248 250 240);
  --md-sys-color-on-background: rgb(25 29 23);
  --md-sys-color-surface: rgb(248 250 240);
  --md-sys-color-on-surface: rgb(25 29 23);
  --md-sys-color-surface-variant: rgb(223 228 215);
  --md-sys-color-on-surface-variant: rgb(67 72 63);
  --md-sys-color-outline: rgb(115 121 110);
  --md-sys-color-outline-variant: rgb(195 200 188);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 50 43);
  --md-sys-color-inverse-on-surface: rgb(239 242 232);
  --md-sys-color-inverse-primary: rgb(167 211 148);
  --md-sys-color-primary-fixed: rgb(194 239 174);
  --md-sys-color-on-primary-fixed: rgb(3 33 0);
  --md-sys-color-primary-fixed-dim: rgb(167 211 148);
  --md-sys-color-on-primary-fixed-variant: rgb(42 79 31);
  --md-sys-color-secondary-fixed: rgb(216 231 204);
  --md-sys-color-on-secondary-fixed: rgb(18 31 14);
  --md-sys-color-secondary-fixed-dim: rgb(188 203 177);
  --md-sys-color-on-secondary-fixed-variant: rgb(61 75 54);
  --md-sys-color-tertiary-fixed: rgb(181 235 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
  --md-sys-color-tertiary-fixed-dim: rgb(135 209 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 78 96);
  --md-sys-color-surface-dim: rgb(216 219 209);
  --md-sys-color-surface-bright: rgb(248 250 240);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 245 235);
  --md-sys-color-surface-container: rgb(236 239 229);
  --md-sys-color-surface-container-high: rgb(231 233 223);
  --md-sys-color-surface-container-highest: rgb(225 228 218);
}
